<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <ul>
        {% for user in users %}
            <div class="perfil">   
                <img src="{{user.user_img}}" id="imgP" style="width: 50px; height: 50px;">
                <a href="{% url 'profile' user.id %}"> {{ user.username }}</a>
            </div>
        {% endfor %}
    </ul>
    <form action="{% url 'home' %}">
        {% csrf_token %}
        <button type="submit" name="home">Home</button>
    </form>
</body>
</html>